<section class="box has-text-centered">
   <section class="section">
<form action="/dashboard/addstation" method="POST">
  <div class="field is-horizontal">
    <div>
    <div class ="field">
    <label class="label">Station Name</label>
    <input class="input" type="text" placeholder="Enter station name" name="title">
    </div>
  </div>
  
  <div>
    
    <div class="field">
    <label class="label">Latitude</label>
    <input class="input" type="text" placeholder="00.00" name="lat">
    </div>
  </div>
  
  <div>
    <div class="field">
    <label class="label">Longitude</label>
    <input class="input" type="text" placeholder="00.00" name="lng">
    </div>
  </div>
  </div>

  <div class="field is-grouped">
  <button class="button is-link">Add Station</button>
  </div>
    </div>
</form>
  </section>
</section>



